.announcement-card-body {
  max-height: 175px;
}

.course-card-img {
  width: 100%;
}

.course-card-img-holder {
  max-height: 150px;
}

.course-img-banner-holder {
  max-height: 200px;
}

.course-img-banner {
  width: 100%;
}

.defocus-btn {
  outline: none;
  box-shadow: none;
  cursor: default;
}

.description-body {
  white-space: pre-line;
}

.complaint-reason-list-card {
  height: 120px;
}

.invisible-btn {
  cursor: pointer;
}

.lesson-list-card {
  height: 250px;
}

.mentorship-listing-card {
  height: 340px;
}

.menu-item {
  width: 275px;
  white-space: normal !important;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.sensei-course-card {
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  height: 220px;
}

.social-card-banner {
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  opacity: 0.2;
}

.social-card-title {
  position: absolute;
  width: 100%;
  padding-top: 5px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 50%);
  text-align: center;
  left: 50%;
}

.social-card-avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, -50%);
}

.sensei-course-card-content {
  height: 180px;
}

.scroll-menu-arrow--disabled {
  display: none;
}

.text-2-lines {
  height: 45px !important;
}

.text-2-bold-lines {
  height: 54px !important;
}

.text-4-lines {
  height: 88px !important;
}

.truncate-1-overflow {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.truncate-2-overflow {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.truncate-3-overflow {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.truncate-4-overflow {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
